<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fornula.domain.member.join.MemberJoinMapper">
	<insert id = "join">
		INSERT INTO MEMBER (
		 id,
		 password,
	 	 email,
		) VALUES (
			#{id}
			#{password}
			#{email}
		)
	</insert>
	
	<insert id = "insert">
		INSERT INTO
	</insert>
	
	
	
</mapper>